/Node-0/data/geth/*
/Node-1/data/geth/*
/Node-2/data/geth/*
/Node-3/data/geth/*
/Node-4/data/geth/*
/Node-5/data/geth/*

/Tessera-0/db*
/Tessera-1/db*

*/*/.DS_Store
/.DS_Store

/Node-0/.DS_Store
/Node-1/.DS_Store
/Node-2/.DS_Store
/Node-3/.DS_Store
/Node-4/.DS_Store
/Node-5/.DS_Store

/Tessera-0/.DS_Store
/Tessera-1/.DS_Store